﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CodeBox.ascx.cs" Inherits="Assignement2b_Amandeep_Singh.UserControl.CodeBox" %>
<asp:DataGrid ID="DataGrid_container" runat="server" skinID="dataGridSkin"></asp:DataGrid>