﻿body {
    padding-top: 50px;
}

.dataGridHeaderStyle {
    padding: 10px;
    background-color: #582630;
    color: #F7EE7F;
    /*text-align:center*/
}

.dataGridItemStyle {
    background-color: #F26157;
    margin-left: 10px;
    color: #582630;
    /*text-align: center*/
}
