﻿body {
    padding-top: 50px;
}

.dataGridHeaderStyle {
    color: black;
    padding: 10px;
    background-color: #F2B880;
}

.dataGridItemStyle {
    color: #966B9D;
    background-color:  #FFF4EC;
    margin-left: 10px;
}
